<form [formGroup]="profileForm" class="container-fluid d-flex flex-column w-50">

  <h1 class="mx-auto">FORM</h1>
<div class=>
 <div class="row">

   <label for="केस_क्र">केस-क्र.</label>
   <input id="केस_क्र" type="text" formControlName="केस_क्र">



   <label for="last-name">पोस्टे नाव</label>
   <input id="last-name" type="text" formControlName="lastName">



   <label for="last-name">जाब देनार नाव व पत्ता</label>
   <input id="le" type="text" formControlName="lastName">





   <label for="last-name">मो.नं.</label>
   <input  type="text" formControlName="lastName">



   <label for="last-name">दाखल ता </label>
   <input  type="text" formControlName="lastName">



   <label for="last-name">ईस्ते क्र. </label>
   <input  type="text" formControlName="lastName">



   <label for="last-name">सन </label>
   <input  type="text" formControlName="lastName">



   <label for="last-name">अंतरीम दिनांक बंधपत्र </label>
   <input  type="text" formControlName="lastName">



   <label for="last-name">अंतरीम-बंधपत्र मुदत कालावधी महिने  </label>
   <input  type="text" formControlName="lastName">


   <label for="last-name">अप न. </label>
   <input  type="text" formControlName="lastName">


   <label for="last-name">  ऐन सी न.</label>
   <input  type="text" formControlName="lastName">


   <label for="last-name">कलम भादवी व इतर  </label>
   <input  type="text" formControlName="lastName">

   <label for="last-name">स्टे.  डा नोंद क्र.  </label>
   <input  type="text" formControlName="lastName">

   <label for="last-name">जामीनदार नाव व पत्ता  </label>
   <input  type="text" formControlName="lastName">


   <label for="last-name">मो.  न.  </label>
   <input  type="text" formControlName="lastName">


   <label for="last-name">अंतिम दिनांक  </label>
   <input  type="text" formControlName="lastName">

   <label for="last-name">हजर / गैरहजर  </label>
   <input  type="text" formControlName="lastName">

 </div>

 </div>
  <button class="btn btn-warning w-25 mx-auto mt-4">Submit</button>

</form>
